argon2-cffi==16.3.0
bcrypt==3.1.4
cffi==1.11.2
dj-database-url==0.4.2
Django==2.2.18
gunicorn==19.7.1
olefile==0.44
psycopg2==2.7.3.2
pycparser==2.18
python-dateutil==2.6.1
whitenoise==3.3.1
djangorestframework==3.11.2
celery==4.1.0
certifi==2017.11.5
twilio==6.10.2
urllib3==1.22
requests==2.18.4
redis==2.10.6
